
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isSuperadmin() {
      return isSignedIn() && (
        exists(/databases/$(database)/documents/roles_superadmin/$(request.auth.uid)) ||
        (request.auth.token.email_verified && request.auth.token.email in [
          'ramiljr.deocariza@neu.edu.ph',
          'djemandreif.reyes@neu.edu.ph',
          'johnmarc.sanchez@neu.edu.ph',
          'jermainecarl.miranda@neu.edu.ph',
          'ramildeocariza009@gmail.com'
        ])
      );
    }

    match /roles_superadmin/{userId} {
      allow get: if isSignedIn();
      allow list, write: if isSuperadmin();
    }

    match /users/{userId} {
      allow get, update: if request.auth.uid == userId || isSuperadmin();
      allow list: if isSuperadmin();
      allow create: if isSignedIn();
      allow delete: if isSuperadmin();
    }

    match /departments/{departmentId} {
      allow read: if true;
      allow write: if isSuperadmin();
    }

    match /departments/{departmentId}/counters/{counterId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /departments/{departmentId}/tickets/{ticketId} {
      allow read: if true;
      allow write: if isSignedIn();
    }
  }
}
